<template>
  <div>
    <l-map
      :zoom="zoom"
      :center="center"
      :options="mapOptions"
      style="height: 100vh"
    >
        <l-tile-layer 
          :url="url"
          :attribution="attribution"
        />

        <l-geo-json
        v-for="(data,i ) in datas" :key="i"
        :geojson="decode(data)"
        />

    </l-map>
  </div>
</template>

<script>

/* eslint-disable */
import { LMap, LTileLayer, LGeoJson } from 'vue2-leaflet';
import 'leaflet/dist/leaflet.css'
import H from '../assets/js/flexiblepolyline.js'
import datas from '../assets/datas.json';

export default {
  components:{
    LMap,
    LTileLayer,
    LGeoJson
  },
  methods:{
    decode(str){
      let lines = H.decode(str);
      return {
          "type": "Feature",
          "geometry": {
              "type": "LineString",
              "coordinates": lines.polyline
          }
      };
    }
  },
  data(){
    return {
      zoom: 8,
      center: [44.8, -0.6],
      url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      attribution:
        '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      mapOptions: {
        zoomSnap: 0.5
      },
      datas:datas,
    }
  },
  
}
</script>

<style>

</style>